/* Initially Hide the table of contenents */
.book #toc {
  display: none;
}

/* Standard Asciidoctor styling based on https://gitlab.com/antora/antora-ui-default */

.book #header,
.book #content,
.book #footer {
  color: var(--asciidoctor-font-color);
  hyphens: auto;
  line-height: 1.6;
  margin: var(--asciidoctor-margin);
  max-width: var(--asciidoctor-max-width);
  padding: 0 1rem 4rem;
}

@media screen and (min-width: 1024px) {
  .book #header,
  .book #content,
  .book #footer {
    margin: var(--asciidoctor-desktop-margin);
    max-width: var(--asciidoctor-desktop-max-width);
    min-width: 0;
  }
}

#preamble + .sect1,
.book .sect1 + .sect1 {
  margin-top: 2rem;
}

.book h1,
.book h2,
.book h3,
.book h4,
.book h5,
.book h6 {
  color: var(--asciidoctor-heading-font-color);
  font-weight: var(--asciidoctor-heading-font-weight);
  hyphens: none;
  line-height: 1.3;
  margin: 1rem 0 0;
}

.book h1.sect0 {
  background: var(--asciidoctor-abstract-background);
  font-size: 1.8em;
  margin: 1.5rem -1rem 0;
  padding: 0.5rem 1rem;
}

.book h1:first-child {
  font-size: calc(36 / var(--pixel-to-rem));
  margin: 1.5rem 0;
}

.book h2:not(.discrete) {
  border-bottom: 1px solid var(--asciidoctor-section-divider-color);
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 0.4rem 1rem 0.1rem;
}

.book h3:not(.discrete) {
  font-weight: var(--boot-alt-heading-font-weight);
}

.book h1 .anchor,
.book h2 .anchor,
.book h3 .anchor,
.book h4 .anchor,
.book h5 .anchor,
.book h6 .anchor {
  position: absolute;
  text-decoration: none;
  width: 1.75ex;
  margin-left: -1.5ex;
  visibility: hidden;
  font-weight: normal;
}

.book h1 .anchor::before,
.book h2 .anchor::before,
.book h3 .anchor::before,
.book h4 .anchor::before,
.book h5 .anchor::before,
.book h6 .anchor::before {
  content: "\0023";
}

.book h1:hover .anchor,
.book h2:hover .anchor,
.book h3:hover .anchor,
.book h4:hover .anchor,
.book h5:hover .anchor,
.book h6:hover .anchor {
  visibility: visible;
}

.book p,
.book dl {
  margin: 0;
}

.book a.bare {
  hyphens: none;
}

.book a {
  color: var(--asciidoctor-link-font-color);
}

.book a:hover {
  color: var(--asciidoctor-hover-link-font-color);
}

.book a.unresolved {
  color: var(--asciidoctor-unresolved-link-font-color);
}

.book i.fa {
  hyphens: none;
  font-style: normal;
}

.book p code,
.book thead code {
  color: var(--asciidoctor-code-font-color);
  background: var(--asciidoctor-code-background);
  border-radius: 0.25em;
  font-size: 0.95em;
  padding: 0.125em 0.25em;
}

.book code,
.book pre {
  hyphens: none;
}

.book pre {
  font-size: calc(16 / var(--pixel-to-rem));
  line-height: 1.3;
  margin: 0;
}

.book blockquote {
  margin: 0;
}

.book .paragraph.lead > p {
  font-size: calc(18 / var(--pixel-to-rem));
}

.book .right {
  float: right;
}

.book .left {
  float: left;
}

.book .stretch {
  width: 100%;
}

.book .underline {
  text-decoration: underline;
}

.book .line-through {
  text-decoration: line-through;
}

.book .paragraph,
.book .dlist,
.book .hdlist,
.book .olist,
.book .ulist,
.book .exampleblock,
.book .imageblock,
.book .listingblock,
.book .literalblock,
.book .sidebarblock,
.book .verseblock,
.book .quoteblock,
.book .partintro,
.book details,
.book hr {
  margin: 1rem 0 0;
}

.book table.tableblock {
  font-size: calc(15 / var(--pixel-to-rem));
  margin: 1.5rem 0 0;
}

.book table.tableblock + * {
  margin-top: 1.5rem;
}

.book td.tableblock > .content > :first-child {
  margin-top: 0;
}

.book table.tableblock th,
.book table.tableblock td {
  padding: 0.5rem;
}

.book table.tableblock thead th {
  border-bottom: 2.5px solid var(--asciidoctor-table-border-color);
}

.book table.tableblock td,
.book table.tableblock > :not(thead) th {
  border-top: 1px solid var(--asciidoctor-table-border-color);
  border-bottom: 1px solid var(--asciidoctor-table-border-color);
}

.book table.stripes-all > tbody > tr,
.book table.stripes-odd > tbody > tr:nth-of-type(odd),
.book table.stripes-even > tbody > tr:nth-of-type(even),
.book table.stripes-hover > tbody > tr:hover {
  background: var(--asciidoctor-table-stripe-background);
}

.book table.tableblock > tfoot {
  background: var(--asciidoctor-table-footer-background);
}

.book .halign-left {
  text-align: left;
}

.book .halign-right {
  text-align: right;
}

.book .halign-center {
  text-align: center;
}

.book .valign-top {
  vertical-align: top;
}

.book .valign-bottom {
  vertical-align: bottom;
}

.book .valign-middle {
  vertical-align: middle;
}

.book .admonitionblock {
  margin: 1.4rem 0 0;
}

.book .admonitionblock p,
.book .admonitionblock td.content {
  font-size: calc(16 / var(--pixel-to-rem));
}

.book .admonitionblock td.content > :not(.title):first-child,
.book .admonitionblock td.content > .title + * {
  margin-top: 0;
}

.book .admonitionblock pre {
  font-size: calc(15 / var(--pixel-to-rem));
}

.book .admonitionblock > table {
  table-layout: fixed;
  position: relative;
  width: 100%;
}

.book .admonitionblock td.content {
  padding: 1rem 1rem 0.75rem;
  background: var(--asciidoctor-admonition-background);
  width: 100%;
  word-wrap: anywhere;
}

.book .admonitionblock .icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: calc(15 / var(--pixel-to-rem));
  padding: 0 0.5rem;
  height: 1.25rem;
  line-height: 1;
  font-weight: var(--asciidoctor-admonition-label-font-weight);
  text-transform: uppercase;
  border-radius: 0.45rem;
  transform: translate(-0.5rem, -50%);
}

.book .admonitionblock.caution .icon {
  background-color: var(--asciidoctor-caution-color);
  color: var(--asciidoctor-caution-on-color);
}

.book .admonitionblock.important .icon {
  background-color: var(--asciidoctor-important-color);
  color: var(--asciidoctor-important-on-color);
}

.book .admonitionblock.note .icon {
  background-color: var(--asciidoctor-note-color);
  color: var(--asciidoctor-note-on-color);
}

.book .admonitionblock.tip .icon {
  background-color: var(--asciidoctor-tip-color);
  color: var(--asciidoctor-tip-on-color);
}

.book .admonitionblock.warning .icon {
  background-color: var(--asciidoctor-warning-color);
  color: var(--asciidoctor-warning-on-color);
}

.book .admonitionblock .icon i {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.book .admonitionblock .icon i::after {
  content: attr(title);
}

.book .imageblock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book .imageblock img,
.book .image > img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.book .image:not(.left):not(.right) > img {
  margin-top: -0.2em;
}

.book #preamble .abstract blockquote {
  background: var(--asciidoctor-abstract-background);
  border-left: 5px solid var(--asciidoctor-abstract-border-color);
  color: var(--asciidoctor-abstract-font-color);
  font-size: calc(16 / var(--pixel-to-rem));
  padding: 0.75em 1em;
}

.book .quoteblock,
.book .verseblock {
  background: var(--asciidoctor-quote-background);
  border-left: 5px solid var(--quote-border-color);
  color: var(--quote-font-color);
}

.book .quoteblock {
  padding: 0.25rem 2rem 1.25rem;
}

.book .quoteblock .attribution {
  color: var(--asciidoctor-quote-attribution-font-color);
  font-size: calc(15 / var(--pixel-to-rem));
  margin-top: 0.75rem;
}

.book .quoteblock blockquote {
  margin-top: 1rem;
}

.book .quoteblock .paragraph {
  font-style: italic;
}

.book .quoteblock cite {
  padding-left: 1em;
}

.book .verseblock {
  font-size: 1.15em;
  padding: 1rem 2rem;
}

.book .verseblock pre {
  font-family: inherit;
  font-size: inherit;
}


.book ol,
.book ul {
  margin: 0;
  padding: 0 0 0 2rem;
}

.book ul.checklist,
.book ul.none,
.book ol.none,
.book ul.no-bullet,
.book ol.unnumbered,
.book ul.unstyled,
.book ol.unstyled {
  list-style-type: none;
}

.book ul.no-bullet,
.book ol.unnumbered {
  padding-left: 1.25rem;
}

.book ul.unstyled,
.book ol.unstyled {
  padding-left: 0;
}

.book ul.circle {
  list-style-type: square;
}

.book ul.disc {
  list-style-type: square;
}

.book ul.square {
  list-style-type: square;
}

.book ol.arabic {
  list-style-type: decimal;
}

.book ol.decimal {
  list-style-type: decimal-leading-zero;
}

.book ol.loweralpha {
  list-style-type: lower-alpha;
}

.book ol.upperalpha {
  list-style-type: upper-alpha;
}

.book ol.lowerroman {
  list-style-type: lower-roman;
}

.book ol.upperroman {
  list-style-type: upper-roman;
}

.book ol.lowergreek {
  list-style-type: lower-greek;
}

.book ul.checklist {
  padding-left: 0.5rem;
}

.book ul.checklist p > i.fa-check-square-o:first-child,
.book ul.checklist p > i.fa-square-o:first-child {
  display: inline-flex;
  justify-content: center;
  width: 1.25rem;
}

.book ul.checklist i.fa-check-square-o::before {
  content: "\2713";
}

.book ul.checklist i.fa-square-o::before {
  content: "\274f";
}

.book .dlist .dlist,
.book .dlist .olist,
.book .dlist .ulist,
.book .olist .dlist,
.book .olist .olist,
.book .olist .ulist,
.book .ulist .dlist,
.book .ulist .olist,
.book .ulist .ulist {
  margin-top: 0.5rem;
}

.book .olist li,
.book .ulist li {
  margin-bottom: 0.5rem;
}

.book .ulist .listingblock,
.book .olist .listingblock,
.book .admonitionblock .listingblock {
  padding: 0;
}

.book .admonitionblock .title,
.book .exampleblock .title,
.book .imageblock .title,
.book .literalblock .title,
.book .listingblock .title,
.book .openblock .title,
.book .tableblock caption {
  color: var(--asciidoctor-caption-font-color);
  font-size: calc(16 / var(--pixel-to-rem));
  font-weight: var(--asciidoctor-caption-font-weight);
  font-style: italic;
  hyphens: none;
  letter-spacing: 0.01em;
  padding-bottom: 0.075rem;
  text-align: left;
}

.book .imageblock .title {
  margin-top: 0.5rem;
  padding-bottom: 0;
}

.book .exampleblock > .content {
  background: var(--asciidoctor-example-background);
  border: 0.25rem solid var(--asciidoctor-example-border-color);
  border-radius: 0.5rem;
  padding: 0.75rem;
}

.book .exampleblock > .content > :first-child {
  margin-top: 0;
}

.book .sidebarblock {
  background: var(--asciidoctor-sidebar-background);
  border-radius: 0.75rem;
  padding: 0.75rem 1.5rem;
}

.book .sidebarblock > .content > .title {
  font-size: calc(22.5 / var(--pixel-to-rem));
  font-weight: var(--asciidoctor-alt-heading-font-weight);
  line-height: 1.3;
  margin-bottom: -0.3em;
  text-align: center;
}

.book .sidebarblock > .content > :not(.title):first-child {
  margin-top: 0;
}

/* NEEDS REVIEW prevent pre in table from causing article to exceed bounds */
.book .tableblock pre,
.book .listingblock.wrap pre {
  white-space: pre-wrap;
}

.book pre.highlight code,
.book .listingblock pre:not(.highlight),
.book .literalblock pre {
  background: var(--asciidoctor-pre-background);
  box-shadow: inset 0 0 1.75px var(--asciidoctor-pre-border-color);
  display: block;
  overflow-x: auto;
  padding: 0.75rem;
}

.book pre.highlight {
  position: relative;
}

.book .language-console .hljs-meta {
  user-select: none;
}

.book .dlist dt {
  font-style: italic;
}

.book .dlist dd {
  margin: 0 0 0.25rem 1.5rem;
}

.book .dlist dd:last-of-type {
  margin-bottom: 0;
}

.book td.hdlist1,
.book td.hdlist2 {
  padding: 0.5rem 0 0;
  vertical-align: top;
}

.book tr:first-child > .hdlist1,
.book tr:first-child > .hdlist2 {
  padding-top: 0;
}

.book td.hdlist1 {
  font-weight: var(--body-font-weight-bold);
  padding-right: 0.25rem;
}

.book td.hdlist2 {
  padding-left: 0.25rem;
}

.book .colist {
  font-size: calc(16 / var(--pixel-to-rem));
  margin: 0.25rem 0 -0.25rem;
}

.book .colist > table > tr > :first-child,
.book .colist > table > tbody > tr > :first-child {
  padding: 0.25em 0.5rem 0;
  vertical-align: top;
}

.book .colist > table > tr > :last-child,
.book .colist > table > tbody > tr > :last-child {
  padding: 0.25rem 0;
}

.book .conum[data-value] {
  border: 1px solid currentColor;
  border-radius: 100%;
  display: inline-block;
  font-size: calc(13.5 / var(--pixel-to-rem));
  font-style: normal;
  line-height: 1.2;
  text-align: center;
  width: 1.25em;
  height: 1.25em;
  letter-spacing: -0.25ex;
  text-indent: -0.25ex;
}

.book .conum[data-value]::after {
  content: attr(data-value);
}

.book .conum[data-value] + b {
  display: none;
}

.book hr {
  border: solid var(--asciidoctor-section-divider-color);
  border-width: 2px 0 0;
  height: 0;
}

.book b.button {
  white-space: nowrap;
}

.book b.button::before {
  content: "[";
  padding-right: 0.25em;
}

.book b.button::after {
  content: "]";
  padding-left: 0.25em;
}

.book kbd {
  display: inline-block;
  font-size: calc(12 / var(--pixel-to-rem));
  background: var(--asciidoctor-kbd-background);
  border: 1px solid var(--asciidoctor-kbd-border-color);
  border-radius: 0.25em;
  box-shadow: 0 1px 0 var(--asciidoctor-kbd-border-color), 0 0 0 0.1em var(--body-background) inset;
  padding: 0.25em 0.5em;
  vertical-align: text-bottom;
  white-space: nowrap; 
}

.book kbd,
.book .keyseq {
  line-height: 1;
}

.book .keyseq {
  font-size: calc(16 / var(--pixel-to-rem));
}

.book .keyseq kbd {
  margin: 0 0.125em;
}

.book .keyseq kbd:first-child {
  margin-left: 0;
}

.book .keyseq kbd:last-child {
  margin-right: 0;
}

.book .menuseq,
.book .path {
  hyphens: none;
}

.book .menuseq i.caret::before {
  content: "\203a";
  font-size: 1.1em;
  font-weight: var(--asciidoctor-body-font-weight-bold);
  line-height: calc(1 / 1.1);
}

.book .nowrap {
  white-space: nowrap;
}

.book .nobreak {
  hyphens: none;
  word-wrap: normal;
}
