html {
  height: 100%;
  font-size: var(--html-font-size);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-wrap: anywhere;
  overscroll-behavior: none;
  font-family: var(--font-family);
  color: var(--body-font-color);
  background: var(--body-background);
  letter-spacing: -.0027777778rem;
} 

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  background-color: none;
}

code,
kbd,
pre {
  font-family: var(--monospace-font-family)
}

@supports (scrollbar-width: thin) {
  body * {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) transparent;
  }
}

table {
  border-collapse: collapse;
  word-wrap: normal;
}

mark {
  background: #39FF14;
}