html {
  height: 100%;
  font-size: var(--html-font-size);
}

@media screen and (min-width: 1024px) {
  html {
    font-size: var(--html-desktop-font-size);
  }
}

@media print {
  html {
    font-size: var(--html-print-font-size);
  }
}


body {
  margin: 0;
  overflow-wrap: anywhere;
  font-family: "Roboto", sans-serif;

/*  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */

  color: var(--body-font-color);
  background: var(--body-background);
} 

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  background-color: none;
}


code,
kbd,
pre {
  font-family: "Roboto Mono", "monospace";
}

@supports (scrollbar-width: thin) {
  body * {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) transparent;
  }
}

table {
  border-collapse: collapse;
  word-wrap: normal;
}