:root {
  --layout-max-width: 1000px;
  --layout-toc-width: 300px;
  --layout-banner-height: 40px;
}

#banner-container {
  height: var(--layout-banner-height);
  overflow: hidden;
  border-bottom: 1px solid red;
}

#doc {
  border-left: 1px solid red;
  overflow: auto;
  margin-left: var(--layout-toc-width);
}

.contained {
  max-width: var(--layout-max-width);
  margin: 0 auto;
}

#navbar-container {
  display: none;
}

#toc {
  position: absolute;
  top: var(--layout-banner-height);
  width: var(--layout-toc-width);
  margin-left: calc(var(--layout-toc-width) * -1);
  background-color: antiquewhite;
  border-right: 1px solid red;
  padding-top: 1.3rem;
}
