@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --html-font-size: 1.0625em; /* 17px */
  --html-desktop-font-size: 1.125em; /* 18px */
  --html-print-font-size: 0.9375em; /* 15px */

  --pixel-to-rem: 18 * 1rem;

  --color-smoke-70: #f0f0f0;
  --color-smoke-90: #e1e1e1;
  --color-gray-30: #8e8e8e;
  --color-gray-70: #5d5d5d;
  --color-jet-70: #222;
  --color-jet-80: #191919;
  
  --body-font-color: black;
  --scrollbar-thumb-color: silver;
  
  --asciidoctor-panel-border-color: var(--color-smoke-90);
  --asciidoctor-panel-background: #fafafa;
  --asciidoctor-margin: 0 auto;
  --asciidoctor-max-width: calc(720 / var(--pixel-to-rem));
  --asciidoctor-desktop-margin: 0 2rem;
  --asciidoctor-desktop-max-width: calc(828 / var(--pixel-to-rem));
  --asciidoctor-font-color: var(--color-jet-70);
  --asciidoctor-heading-font-color: var(--color-jet-80);
  --asciidoctor-heading-font-weight: 600;
  --asciidoctor-alt-heading-font-weight: 600;
  --asciidoctor-section-divider-color: var(--asciidoctor-panel-border-color);
  --asciidoctor-link-font-color: #1565c0;
  --asciidoctor-hover-link-font-color: #104d92;
  --asciidoctor-unresolved-link-font-color: #d32f2f;
  --asciidoctor-code-font-color: var(--asciidoctor-font-color);
  --asciidoctor-code-background: var(--asciidoctor-panel-background);
  --asciidoctor-table-border-color: var(--asciidoctor-panel-border-color);
  --asciidoctor-table-stripe-background: var(--asciidoctor-panel-background);
  --asciidoctor-table-footer-background: linear-gradient(to bottom, var(--color-smoke-70) 0%, white 100%);
  --asciidoctor-admonition-background: var(--asciidoctor-panel-background);
  --asciidoctor-admonition-label-font-weight: 500;
  --asciidoctor-caution-color: #a0439c;
  --asciidoctor-caution-on-color: white;
  --asciidoctor-important-color: #d32f2f;
  --asciidoctor-important-on-color: white;
  --asciidoctor-note-color: #217ee7;
  --asciidoctor-note-on-color: white;
  --asciidoctor-tip-color: #41af46;
  --asciidoctor-tip-on-color: white;
  --asciidoctor-warning-color: #e18114;
  --asciidoctor-warning-on-color: white;

  --asciidoctor-abstract-background: var(--color-smoke-70);
  --asciidoctor-abstract-border-color: var(--asciidoctor-panel-border-color);
  --asciidoctor-abstract-font-color: var(--color-gray-70);
  --asciidoctor-quote-background: var(--asciidoctor-panel-background);
  --asciidoctor-quote-attribution-font-color: var(--color-gray-30);
  --asciidoctor-caption-font-color: var(--color-gray-70);
  --asciidoctor-caption-font-weight: 500;
  --asciidoctor-example-background: white;
  --asciidoctor-example-border-color: var(--color-gray-70);
  --asciidoctor-sidebar-background: var(--color-smoke-90);
  --asciidoctor-pre-background: var(--asciidoctor-panel-background);
  --asciidoctor-pre-border-color:var(--asciidoctor-panel-background);

  --highlight-background-color: #f8f8f8;
  --highlight-font-color: #333;
  --highlight-comment-font-color: #998;
  --highlight-keyword-font-color: var(--highlight-font-color);
  --highlight-variable-font-color: #008080;
  --highlight-string-font-color: #d14;
  --highlight-title-font-color: #900;
  --highlight-type-font-color: #458;
  --highlight-name-font-color: #000080;
  --highlight-link-font-color: #009926;
  --highlight-symbol-font-color: #990073;
  --highlight-builtin-font-color: #0086b3;
  --highlight-meta-font-color: #999;
  --highlight-deletion-font-color: #fdd;
  --highlight-addition-font-color: #dfd;
}
