/* Baseline */

:root {
  --html-font-size: 1em;
  --pixel-to-rem: 16 * 1rem;
}

/*  Desktop */

@media screen and (min-width: 1025px) {
  :root {
  }
}

/*  Printing */

@media print {
  :root {
  }
}

:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --monospace-font-family: "SFMono-Regular","Consolas","Liberation Mono","Menlo","monospace";
  --color-spring-light-blue: #ebf2f2;
  --color-spring-medium-blue: #d7e7e7;
  --color-spring-green: #80ea6e;
  --color-spring-dark-green: #6db33f;
  --body-background-color: white;
  --body-font-color: #191e1e;
  --body-font-light-color: #273030;
  --body-font-dark-color: #141818;
  --link-font-color: #1565c0;
  --hover-link-font-color: #104d92;
  --scrollbar-thumb-color: silver;
}

/* Page */

:root {
  --border-color: var(--color-spring-medium-blue)
}

/* Asciidoctor */

body.book {
  --asciidoctor-details-background: var(--color-spring-light-blue);
  --asciidoctor-details-font-color: var(--body-font-light-color);
  --asciidoctor-panel-background: #f6f8fa;
  --asciidoctor-panel-border-color: #eaedf0;
  --asciidoctor-margin: 0 auto;
  --asciidoctor-max-width: calc(720 / var(--pixel-to-rem));
  --asciidoctor-font-color: var(--body-font-color);
  --asciidoctor-heading-font-color: var(--body-font-dark-color);
  --asciidoctor-heading-font-weight: 600;
  --asciidoctor-alt-heading-font-weight: 600;
  --asciidoctor-section-divider-color: var(--color-spring-light-blue);
  --asciidoctor-link-font-color: var(--link-font-color);
  --asciidoctor-hover-link-font-color:var(--hover-link-font-color);
  --asciidoctor-unresolved-link-font-color: #d32f2f;
  --asciidoctor-code-font-color: var(--asciidoctor-font-color);
  --asciidoctor-code-background: rgba(27, 31, 35, 0.05);
  --asciidoctor-code-data-lang-color: #999;
  --asciidoctor-table-border-color: var(--asciidoctor-panel-border-color);
  --asciidoctor-table-header-footer-background: #ebf2f2;
  --asciidoctor-table-stripe-background: var(--color-spring-light-blue);
  --asciidoctor-table-footer-background: linear-gradient(to bottom, var(--color-spring-light-blue) 0%, white 100%);
  --asciidoctor-admonition-background: var(--color-spring-light-blue);
  --asciidoctor-admonition-pre-background: var(--color-spring-medium-blue);
  --asciidoctor-admonition-label-font-weight: 500;
  --asciidoctor-admonition-font-color: #f0f0f0;
  --asciidoctor-admonition-caution-background: #561164;
  --asciidoctor-admonition-important-background: #960000;
  --asciidoctor-admonition-note-background: #015785;
  --asciidoctor-admonition-tip-background: #3e6b1f;
  --asciidoctor-admonition-warning-background: #bd7400;
  --asciidoctor-abstract-background: var(--asciidoctor-panel-background);
  --asciidoctor-abstract-border-color: var(--asciidoctor-panel-border-color);
  --asciidoctor-quote-background: var(--color-spring-light-blue);
  --asciidoctor-quote-border-color: var(--asciidoctor-panel-border-color);
  --asciidoctor-quote-attribution-font-color: var(--color-spring-dark-green);
  --asciidoctor-caption-font-color: var(--body-font-light-color);
  --asciidoctor-caption-font-weight: 400;
  --asciidoctor-example-background: var(--asciidoctor-panel-background);
  --asciidoctor-example-border-color: var(--asciidoctor-panel-border-color);
  --asciidoctor-sidebar-background: var(--color-spring-light-blue);
  --asciidoctor-pre-background: var(--asciidoctor-panel-background);
  --asciidoctor-pre-border-color: var(--asciidoctor-panel-border-color);
  --asciidoctor-callout-background: var(--body-font-light-color);
  --asciidoctor-callout-font-color: #f0f0f0;
}

/* Asciidoctor Desktop */

@media screen and (min-width: 1025px) {
  body.book {
    --asciidoctor-margin: 0 2rem;
    --asciidoctor-max-width: calc(828 / var(--pixel-to-rem));
  }
}

/* Highlight JS (colors based on https://github.com/primer/github-syntax-light) */

code.hljs {
  --highlight-background-color: var(--asciidoctor-pre-background);
  --highlight-font-color: #24292e;
  --highlight-keyword-font-color: #d73a49;
  --highlight-comment-font-color: #6a737d;
  --highlight-string-font-color: #032f62;
  --highlight-meta-font-color: #6a737d;
  --highlight-constant-font-color: #032f62;
  --highlight-variable-font-color: #005cc5;
  --highlight-tag-font-color: #22863a;
  --highlight-tag-attribute-font-color: #6f42c1;
  --highlight-type-font-color: #6f42c1;
  --highlight-link-font-color: #1565c0;
  --highlight-addition-font-color: #22863a;
  --highlight-deletion-font-color: #24292e;
  --highlight-regex-font-color: #032f62;
}

div.switch {
  --blockswitch-border-color: var(--body-font-light-color);
  --blockswitch-background-color: var(--body-background-color);
  --blockswitch-font-color: var(--body-font-color);
  --blockswitch-selected-background-color: var(--body-font-color);
  --blockswitch-selected-font-color: var(--body-background-color);
  --blockswitch-hover-font-color: var(--hover-link-font-color);
}