#doc {
    border-left: 1px solid var(--layout-border-color);
    overflow: auto;
    margin-left: var(--toc-width);
}
  
#toc {
    display: var(--toc-display);
    position: absolute;
    top: var(--layout-banner-height);
    width: var(--toc-width);
    margin-left: calc(var(--toc-width) * -1);
    border-right: 1px solid var(--layout-border-color);
    padding: 1.7rem 1rem 0 1rem;
    font-size: 0.95rem;
    line-height: 1.1;
}

#toctitle {
    display: none;
}

#toc ul {
    padding: 0;
}

#toc ul ul {
  padding-left: 0.8rem;
}

#toc li {
    display: block;
    list-style: none;
}

#toc a {
    display: block;
    text-decoration: none;
    color: var(--toc-font-color);
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
}

#toc a:hover {
    background-color: var(--toc-hover-background-color);
}
